@import url('https://fonts.google.com/specimen/Public+Sans');
::before,
 ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: hsl(220, 16%, 96%);
    font-family: 'Public Sans', sans-serif;
}

.field.error input {
    border-color: red;
}

.field.error small {
    visibility: visible;
    color: red;
}

.field.success input {
    border-color: green;
}

.field.success small {
    visibility: hidden;
    color: green;
}

.field small {
    visibility: hidden;
    position: relative;
    bottom: 0;
    left: 0;
}

.field {
    padding-bottom: 3px;
}

.form {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 20px #00000029;
    opacity: 1;
    max-width: 100%;
    width: 350px;
    margin: 0 auto;
    padding: 20px 40px 20px 20px;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 10px;
    overflow: hidden;
}

.login {
    padding-top: 3em;
    max-height: 50vh;
    margin-top: 4em;
}

.container {
    padding: 16px;
}

h2 {
    color: hsl(136, 65%, 51%);
    font-weight: 900;
    margin-top: 0;
}

input[type=checkbox] {
    margin: 10px 0 12px 0;
}

input[type=text],
[type=password],
[type=email] {
    width: 100%;
    line-height: 1.5;
    padding: 10px 10px;
    margin: 10px 0 3px 0;
    border: .1px solid hsl(233, 8%, 62%);
    border-radius: 7px;
    font-size: .9rem;
}

label {
    color: hsl(233, 26%, 24%);
    font-weight: 400;
    font-size: 1rem;
}

input:hover,
input:focus {
    outline: none;
    border: .7px solid hsl(136, 65%, 51%);
}

span {
    color: red;
    position: relative;
    top: 3px;
}

button {
    background: hsl(136, 65%, 51%);
    border: none;
    padding: .9em 2.5em;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 7px;
}

button:focus,
button:hover {
    outline: none;
}